# Virtual Environment
.venv/

# Environment variables/secrets
.env

# Model files directory
models/
bert_disaster_model/
bert-disaster-classifier/

# Database file
tweets.db

model_upt.py
src/__pycache__
src/.DS_Store


